{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<form name="register" action="" method="post">
{{ form.hidden_tag() }}

<p>
    {{ form.name.label }} <br>
    {{ form.name() }}
</p>

<p>
    {{ form.email.label }} <br>
    {{ form.email() }}
    {% for error in form.email.errors %}
    <span class="error-message text-danger">{{ error }}</span>
    {% endfor %}
</p>

<p>
    {{ form.password.label }} <br>
    {{ form.password() }}
    {% for error in form.password.errors %}
    <span class="error-message text-danger">{{ error }}</span>
    {% endfor %}
</p>

<p>
    {{ form.password_confirm.label }} <br>
    {{ form.password_confirm() }}
    {% for error in form.password_confirm.errors %}
    <span class="error-message text-danger">{{ error }}</span>
    {% endfor %}
</p>

<p>
    <button class="btn btn-primary">Signup</button>
</p>

</form>

{% endblock %}