{% extends "base.html" %}
{% block head %}
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12 no-padding">
        <img src="../static/images/a5.jpg" alt="placeholder 960" height="400px" width="100%" class="img-responsive" />
      </div>
    </div>
  </div>
  {% endblock %}
{% block content %}
<h2 class="text-center">Welcome to Broadcast</h2>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img src="../static/images/s1.svg" height="300px" width="100%" alt="a1"class="img-responsive" >
        </div>
        <div class="col-md-6">
            <br>
            <br>
            <h1 class="text-center">Add Your News & Blogs</h1>
            <br>
            <pre>
            <span class="text-danger">Follow the steps</span>
            1. Register as user
            2. Login
            3. Add your stuff

            Yeah! Now you are good to go :)

            </pre>
        </div>
        <div class="col-md-1"></div>
       
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <br>
            <br>
            <h1 class="text-center">Read News & Blogs</h1>
            <br>
            <pre>
            <span class="text-danger">Follow the steps to read all news & blogs</span>
            1. Register as guest
            2. Login

            Yeah! Now you are good to go :)

            </pre>
        </div>
        <div class="col-md-4">
            <img src="../static/images/s2.svg" height="300px" width="100%" alt="a1"class="img-responsive" >
        </div>
        <div class="col-md-1"></div>
       
    </div>
</div>
<br>
<br>
{% endblock %}